@import "bourbon";
@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";


// General

// Temporary rule to make baseline.it work
body { height: auto !important; }

body {
    background: $white url(../img/tree_bark.png) repeat top left;
    padding-top: 0;
}

header {
    padding: 2rem 0 2.5rem;
    background-color: $white;
    -webkit-transition: height .5s ease-in-out;
    -moz-transition: height .5s ease-in-out;
    -ms-transition: height .5s ease-in-out;
    -o-transition: height .5s ease-in-out;
    transition: height .5s ease-in-out;

}

header.small {
    //height: 90px;
    padding: .5rem 0;
    margin-bottom: 300px;
    border-bottom: 1px solid $secondary-light;

    
    .header-box {
        height: auto;
        width: auto;
        border: none;
    }
    
    h1.blog-title {
       margin: 0 0 .5rem; 
       font-size: rem-calc(22.68);
       -webkit-transition: margin .1s ease-in-out;
       -moz-transition: margin .1s ease-in-out;
       -ms-transition: margin .1s ease-in-out;
       -o-transition: margin .1s ease-in-out;
       transition: margin .1s ease-in-out;
    }
    
    p.lead {
        display: none;
    }
}

.entry-title.small {
    margin-top: 250px;
}

.row.content {
    padding-top: 1rem;
}

h1 {
    color: $black;
}

h2 {
    color: $primary-dark;
    padding: 0.6rem 0.6rem;
    text-decoration: underline;
}   

.img-separator {
    display: block;
    width: 4rem;
    margin: 0 auto; 
}

.img-separator-bottom {
    margin: 4rem auto;
}                           

// Header styles 
.header-box {
    width: 230px;
    margin-left: auto;
    margin-right: auto;
    border: 8px double $secondary-light;
}

h1.blog-title {
   margin: 3rem 2rem;
   color: $black;
   font-size: rem-calc(36.68);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

}

p.lead {
    font-family: $font-family-sans-serif-secondary;
    padding: 2rem 0.5rem;
    text-align: center;
    color: $black;
    font-size: 0.99rem;
    margin: 0 3.2rem;
    line-height: 1.3rem;
        -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

}

a {
    color: $primary-dark;
    
    &:hover {
        color: $secondary-light;
    }
}

// Generic article styles 
article {
    background-color: $white;
    padding: 0.7rem 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    
    a {
        text-decoration: underline;
    }
}

#comments {
    margin-top: 2rem;
}

// Single post styles
.meta {
    font-family: $font-family-sans-serif-secondary;
    font-size: 98%;
    margin-top: 0;
    margin-bottom: 0;
}

.wp-caption {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.post-image {
    display: block;
    margin-bottom: 0;
    border: 4px double $secondary-light;
    padding: .5rem;
}

.wp-caption-text {
    margin-top: .5rem;
    margin-bottom: 2.4rem;
    font-size: 70%;
    font-style: italic;
    line-height: 1.05rem;
    padding: 0 .2rem;
}

.spacer {
    height: 3rem;
}

.meta-info {
    border-top: 1px solid $primary-light;
    list-style-type: circle;
    list-style-position: inside;
    margin: 1.5rem 1rem;
    padding-top: .5rem;
    color: $secondary-dark;
}


// Comments styles
.comments-title {
    text-align: center;
    color: $secondary-dark;
}

.comment-box {
    margin-top: 2rem !important;
}

.comment-avatar img {
    width: 64px;
    box-sizing: content-box;
    padding: .3rem;
    background-color: $white;
    border: 3px double $secondary-light;
}

.comment-meta {
    @extend .meta-info;
    font-family: $font-family-sans-serif-secondary;
    font-size: 80%;
    border: none;
    margin: 0;
    margin-bottom: .2rem;
    padding-top: 0;
}

.comment-content {
    background: $white;
    padding: 1rem;
}

.comment-username,
.comment-text {
    font-size: 98%;
}



// Footer styles 
footer {
    background: $black url(../img/tree_bark-inverted.png) repeat;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
    h3 {
        margin-top: 1rem;
    }
    
    .footer-main-menu {
            h3 { 
                color: $white;
            }
            
            li, a {
                color: $secondary-light;
                
                &:hover {
                    color: $primary-light;
                }
            }
        }
        
    .footer-latest-posts {
        h3 {
            color: $primary-dark;
        }
        
        li, a {
            color: $white;
            
            &:hover {
                color: $secondary-light;
            }
        }
    }
    
    .footer-archives {
        h3 {
            color: $secondary-light;
        }
        
        li, a {
            color: $primary-light;
            
            &:hover {
                color: $white;
            }
        }
    }

    h4 {
        color: $black;
    }
    a { 
        font-family: $font-family-sans-serif-secondary;
        color: $secondary-dark;
    }
    
    input {
       font-size: $h6-font-size !important; 
       border-width: 0 !important;
       box-shadow: none;
       background-color: $white;
    }
    
    .button {
        background-color: $secondary-light;
        color: $black !important;
        font-family: $font-family-sans-serif-secondary;
        font-size: $h6-font-size;
        
        &:hover {
            background-color: $primary-light;
            color: $black;
        }
    }
}

// iPad and up rules
@media #{$medium-up} { 
    header {
        padding: 5rem 0;
    }   
    
    article {
        margin-top: 0;
        
        .wp-caption {
            margin-top: 2.2rem;
        }
    }
    
    .entry-title {
        margin-bottom: 0;
    }
    
    p {
        font-size: $paragraph-font-size + 0.2;
        line-height: $base-line-height + 0.2;
    }
    
    .wp-caption {
        margin-bottom: 3.2rem;
    }
    
    .wp-caption-text {
        font-size: 80%;
        line-height: 1.4rem;
    }
    
    footer ul a {
        font-size: $h5-font-size;
    }
    
    .search-bar {
        width: 290px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

// Large screens and up rules
@media #{$large-up} {
    .wp-caption {
        margin-top: 2.8rem !important;
    }
}